/***************************************************************/


/***********            RESET                    ***************/


/***************************************************************/

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: white;
}


/***************************************************************/


/***********              COLORS                ***************/


/***************************************************************/

:root {
    --color-black: 0 0 0;
    --color-blue: rgb(10, 7, 19);
    --color-blue-back: rgba(30, 4, 97, 0.5);
    --color-white: rgba(252, 251, 253, 1);
    --color-teal: rgb(0, 128, 128);
    --color-gray-gradient: rgba(242, 242, 242, 0.1);
    --color-blue-gradient: rgba(10, 7, 19, 0.9);
    --color-blue-gradient-1: rgba(10, 7, 19, 0.2);
    --color-gray: rgba(218, 247, 166, 0.5);
    --color-purple: rgb(40, 34, 44, 0.4);
}


/***************************************************************/


/***********           CLASSES   COLORS          ***************/


/***************************************************************/

.bg-purple {
    background-color: var(--color-purple) !important;
    color: var(--color-blue);
}

.bg-blue {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.error-container {
    background-color: var(--color-blue);
    color: white;
    text-align: center;
    padding: 8px;
    margin: 2px 8px;
}

#error_shopping {
    position: fixed !important;
    top: 20px !important;
    left: 20px !important;
    width: 600px !important;
    margin: auto !important;
    /* background-color: var(--color-white) !important; */
    z-index: 1 !important;
}