{% extends 'base.html' %}
{% load static %}

<!-- {% load crispy_forms_tags %} -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block title %} Contact Page {% endblock %}
{% block content %}
<body class="body">
  <section id="about">
      <div class="about-1">
        <marquee behavior="alternate" direction="right">
          <h3 class="my-4"><i>We Tele-pharmacy offer more than just medicine</i> </h3>
        </marquee>
      </div>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/media/pics/dawa.jpg">
        <img src="/media/pics/dawa.jpg" alt="" style="width:100%; height:100%;">
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/media/pics/dawa1.jpg">
        <img src="/media/pics/dawa1.jpg" alt="" style="width:100%; height:100%;">
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/media/pics/dawa2.jpg">
        <img src="/media/pics/dawa2.jpg" alt="" style="width:100%; height:100%;">
        
      </a>
    </div>
  </div>
</div>
   <div class="row">
          <div class="col-md-4">
               <div class="about-item text-center">
                         <h3>MISSION</h3>
                            <hr>
                               <p>To offer the best service as well as Get medicines at the best price. A True Devotion to Healing</p>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="about-item text-center">
                               <h3>VISION</h3>
                               <hr>
                               <p>Serving the Future, Honoring the Past.</p>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="about-item text-center">
                               <h3>ACHIEVMENT</h3>
                               <hr>
                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, perspiciatis? Hic, consequuntur voluptatibus ad exercitationem dolores obcaecati eveniet nihil officia atque sequi alias facere ipsa explicabo doloremque accusantium velit laborum.</p>
                          </div>
                      </div>
                  </div>
             </section>



    
    
       
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

<footer class="footer" >
      <div class="row">
        <div class="footer-col col-md-3">
          <h4>Contact us</h4>
          <ul>
            <li>The Chief Executive office</li>
            <li>Tele-pharmacy</li><br>
            <li>P.O.BOX 20043</li>
            <li>Dodoma Tanzania</li>
            <li><i class="fa fa-phone">+255 6793 400 300</i></li>
          </ul>
        </div>
        <div class="footer-col col-md-3">
          <h4>Get help</h4>
          <div class="social">
            <ul>
              <li><a href="/MedicineTrack/templates/medicine/contact.html"> Leave a message</a></li> <br>
              <li><a href="mailto:bdc@co.tz"><i class="fa fa-envelope">  Mail us</i></a></li>
            </ul>
          </div>
        </div>
        <div class="footer-col col-md-3">
          <h4>Follow us</h4>
          <div class="social">
            <ul>
              <li><a href="https://www.twitter.com" target="_blank"> <i class="fab fa-twitter" style="color:blue ;">Twitter</i></a></li><br>
              <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook" style="color:blue ;">Facebook</i></a></li><br>
              <li><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube" style="color:red ;">Youtube</i></a></li><br>
            </ul>
          </div>
        </div>
        <div class="footer-col col-md-3">
          <h4>Quick links</h4>
          <div class="pull-right">
            <ul>
              <li><a href="https://www.moh.go.tz/" target="_blank"> >Wizara ya Afya</a></li><br>
              <li><a href="https://www.msd.go.tz/" target="_blank"> >Msd</a></li><br>
              <li><a href="https://www.salamapharma.co.tz/" target="_blank"> >Salama Store</a></li><br>
              <li><a href="https://www.lsretail.com/industries/pharmacy-management-software" target="_blank"> >LS Retail</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <center> Tele-pharmacy&copy; 2022 </center>
      </div>
  </footer>
 


{% endblock%}