{% extends 'medicine/base.html' %} {% load static %}

<!-- {% load crispy_forms_tags %} -->


{% block title %} about Page {% endblock %}
<!-- NAVIGATION -->
{% block navigation %}
<!--  -->
{% include 'header.html'%}
<!--  -->
{% include 'navigation.html'%}
<!--  -->
{% endblock %}
<!-- END NAVIGATION -->
{% block content %}


<div class="container-wrapper my-1">
    {% include 'medicine/portfolio_img.html'%}
</div>
<div class=" container my-2">
    <div class="container-wrapper">
        <div class="row">
            <div class="col-md-4 bg-gray">
                <div class="thumbnail">
                    <a href="/media/pics/dawa.jpg">
                        <img src="/media/pics/dawa.jpg" alt="" style="width:100%; height:100%;">
                    </a>
                </div>
            </div>
            <div class="col-md-4 bg-gray">
                <div class="thumbnail">
                    <a href="/media/pics/dawa1.jpg">
                        <img src="/media/pics/dawa1.jpg" alt="" style="width:100%; height:100%;">
                    </a>
                </div>
            </div>
            <div class="col-md-4 bg-gray">
                <div class="thumbnail">
                    <a href="/media/pics/dawa2.jpg">
                        <img src="/media/pics/dawa2.jpg" alt="" style="width:100%; height:100%;">

                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrapper">
        <div class="row">
            <div class="col-md-4 bg-gray">
                <div class="about-item text-center">
                    <h3>MISSION</h3>
                    <hr>
                    <p>To offer the best service as well as Get medicines at the best price. A True Devotion to Healing</p>
                </div>
            </div>
            <div class="col-md-4 bg-gray">
                <div class="about-item text-center">
                    <h3>VISION</h3>
                    <hr>
                    <p>Serving the Future, Honoring the Past.</p>
                </div>
            </div>
            <div class="col-md-4 bg-gray">
                <div class="about-item text-center">
                    <h3>ACHIEVMENT</h3>
                    <hr>
                    <p>
                        Gain users experience on issues of pharmacy and problems they face. So we come up with solutions by implement our tele-pharmacy system
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock%}
<!-- FOOTER -->
{% block footer %}
<!--  -->
{% include 'footer.html'%}
<!--  -->
{% endblock %}
<!-- END FOOTER -->