{% extends 'medicine/base.html' %} {% load static %}
<!-- NAVIGATION -->
{% block navigation %}
<!--  -->
{% include 'header.html'%}
<!--  -->
{% include 'navigation.html'%}
<!--  -->
{% endblock %}
<!-- END NAVIGATION -->
{% block content %}
<!--  -->
{% include 'categories.html' %}



<div class="d-flex flex-md-row flex-column justify-content-md-between justify-content-center mt-5 px-5 px-md-0">
    <div class="d-flex flex-md-row flex-column justify-content-between align-content-between ">
        <h3>Search Letter</h3>
        <div class="ms-md-5">
            <form action="{% url 'MedicineTrack:browse-medicine' %}" method="GET">

                <div class="input-group flex-nowrap">
                    <button class="p-1 my-2" type="submit"><img src="/static/images/icons/search.png" alt="" width="15" height="15"></button>
                    <input type="text" placeholder="search letter" name="q" style="max-width:150px;" class="border-secondary">

                </div>
            </form>
        </div>
    </div>

    <nav aria-label="Page navigation example" class="d-flex flex-md-row flex-column justify-content-between">
        <div>
            <h4>views</h4>
        </div>
        <ul class="pagination my-2 ms-2">
            <li class="page-item"><a class="btn-submit px-3" href="#">20</a></li>
            <li class="page-item"><a class="btn-submit px-3" href="#">100</a></li>
            <li class="page-item"><a class="btn-submit px-3" href="#">150</a></li>
            <li class="page-item"><a class="btn-submit px-3" href="#">all</a></li>
        </ul>
    </nav>
</div>



<div class="d-flex flex-row mt-5">
    <!-- ITEMS -->
    <div class="container">
        <div class="row gx-3">
            {% for product in medicine %}
            <!--  -->
            <div class="card col-12 col-md-6 col-lg-4 col-xl-4 border-0">
                <div class="border shadow-lg p-1 mb-5 bg-body rounded">
                    <img src="{{product.imageURL}}" class="card-img-top" alt="..." height="200">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        {% for medicine_price in product.medicineprice_set.all %}
                        <p class="card-text">Tsh {{medicine_price.price|floatformat:2}}.</p>
                        {% endfor %}
                        <a href="{% url 'MedicineTrack:shopping' product.id %}" class="btn btn-primary">shop now</a>
                    </div>
                </div>

            </div>

            <!--  -->
            {% endfor %}

        </div>
    </div>




</div>






<!--  -->

{% endblock content %}
<!-- FOOTER -->
{% block footer %}
<!--  -->
{% include 'footer.html'%}
<!--  -->
{% endblock %}
<!-- END FOOTER -->