{% extends 'medicine/base.html' %} {% load static %}
<!-- NAVIGATION -->
{% block navigation %}
<!--  -->
{% include 'medicine/navigation.html'%}
<!--  -->
{% endblock %}
<!-- END NAVIGATION -->
{% block content %}

<div class="grid grid-mobile my-2 bg-white-1">
    <div class="container-wrapper ">
        <div class="container-wrapper">
            <div class="main-content bg-gray-1">
                {% include 'medicine/categories.html' %}
            </div>
        </div>
        <div class="container-wrapper bg-gray-1">
            <h3 class="bg-purple text-align-center">Recently</h3>
            {% include 'medicine/recently.html' %}
        </div>
    </div>

    <main class="container-wrapper ">

        <div class="container-wrapper">
            <div class="container-wrapper bg-gray-1">
                <div class="flex_page bg-purple">
                    <h3>Search Letter</h3>
                    <div class="search-content">
                        <form action="{% url 'MedicineTrack:browse-medicine' %}" method="GET">
                            <input type="text" placeholder="search letter" name="q" style="max-width:150px;">
                            <button class="right" type="submit"><img src="/static/images/icons/search.png" alt="" width="20" height="20"></button>

                        </form>
                    </div>
                    <nav aria-label="Page navigation example flex_page">
                        <div>
                            <h4>views</h4>
                        </div>
                        <ul class="pagination my-2">
                            <li class="page-item"><a class="btn-submit px-3" style="background-color:var(--color-white);" href="#">20</a></li>
                            <li class="page-item"><a class="btn-submit px-3" style="background-color:var(--color-white);" href="#">100</a></li>
                            <li class="page-item"><a class="btn-submit px-3" style="background-color:var(--color-white);" href="#">150</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="grid-item bg-white-1">
                    {% for medicine in medicine %}
                    <div class="grid  bg-gray">
                        <div class="medicine-img ">
                            <img src="{{medicine.imageURL}}" alt="" width="230px" height="250px">
                        </div>
                        <div class="medicine-desc container-wrapper">
                            <p>{{medicine.name}}</p>
                            {% for medicine_price in medicine.medicineprice_set.all %}
                            <p>Tsh {{medicine_price.price|floatformat:2}}</p>
                            {% endfor %}
                            <a href="{% url 'MedicineTrack:shopping' medicine.id %}" class="btn-submit">shop now</a>

                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</div>



<!--  -->

{% endblock content %}
<!-- FOOTER -->
{% block footer %}
<!--  -->
{% include 'medicine/footer.html'%}
<!--  -->
{% endblock %}
<!-- END FOOTER -->