{% extends 'medicine/base.html' %} {% load static %}
<!-- NAVIGATION -->
{% block navigation %}
<!--  -->
{% include 'medicine/navigation.html'%}
<!--  -->
{% endblock %}
<!-- END NAVIGATION -->
{% block content %}
<div id="error_shopping" class="container">
    {% include 'medicine/message.html' %}
</div>
<!-- CHECK IF THERE IS MEDICINE -->
{% if cartMedicine %}
<div class="grid-cart grid-mobile-cart">
    <div class="container-wrapper m-3 bg-gray">
        <h3 class="text-align-center bg-purple">Shopping Cart</h3>
        <!-- ITEMS -->
        {% for item in items %}
        <div class="grid">

            <div class="container-wrapper bg-gray-1">
                <img src="{{item.medicine.imageURL}}" alt="" width="220" height="180">
                <div class="flex_page">
                    <img src="{% static 'images/icons/x w-3.png'%}" alt="" width="20" height="20" class="btn-cart-real" data-medicine="{{item.medicine.id}}" data-action="removeAll">
                    <p>Remove</p>
                </div>
                <h5 class="bg-gray-1 my-2"> {{item.medicine.getPrice}} @Tsh</h5>
            </div>
            <div class=" container-wrapper item3">
                <h4 class="bg-gray">{{item.medicine.name}}</h4>
                <h5 class="bg-gray">Total Items: <span data-item="{{item.quantity}}" id="total-item">{{item.quantity}}</span> </h5>
                <h5 class="bg-gray">Total Price, Tsh <span id="total-price" data-price="{{item.medicine.getPrice}}">{{item.get_total|floatformat:2}}</span></h5>
                <div class="flex-shopping bg-gray">
                    <h4> Quantity:</h4>
                    <button class="btn-cart btn-shopping" id="add" data-action="add">+</button>
                    <input type="text" class="input-shopping" id="medicine_number" oninput="medicine_qty()">
                    <button class="btn-cart btn-shopping" id="remove" data-action="remove">-</button>
                </div>
                <div class="container-wrapper bg-white my-4">
                    <div class="bg-gray flex">
                        <button class="cat-link btn-2-shop btn-cart-real" data-medicine="{{item.medicine.id}}" data-action="addCart">Add To Cart</button>
                        <button class="cat-link btn-2-shop btn-cart-real" data-medicine="{{item.medicine.id}}" data-action="removeCart">Remove From Cart</button>
                        <a href="{{request.META.HTTP_REFERER}}" class="cat-link btn-2-shop">&#x2190;Back</a>
                    </div>

                </div>
            </div>
        </div>
        <hr> {% endfor %}
        <input type="submit" value="Save " class="btn-submit">

    </div>
    <div class="container-wrapper m-3 ">
        <h3 class="text-align-center bg-purple">Order Summary</h3>

        <div class="container-wrapper bg-gray">
            <div class="flex">
                <h4>Item:</h4>
                <h4>{{order.get_cart_items}}</h4>

            </div>
            <div class="flex">
                <h4>Sub Total:</h4>
                <h4>${{order.get_cart_total|floatformat:2}}</h4>

            </div>
            <div class="flex">
                <h4>Shipping Cost:</h4>
                <h4>$5</h4>

            </div>
            <hr>
            <div class="flex">
                <h3>Total Cost:</h3>
                <h3>${{order.get_cart_total|floatformat:2}}</h3>

            </div>
            <hr>

        </div>

        <div class="flex_page bg-gray">
            <a class="btn-submit" href="{% url 'MedicineTrack:store' %}">Continue Shopping</a>
            <a style="float:right; margin:5px;" class="btn-submit" href="{% url 'MedicineTrack:checkout' %}">Checkout</a>

        </div>
        <div class="container-wrapper bg-gray">
            <h3>Payment</h3>
        </div>
    </div>


</div>
{% else %}
<div class="container bg-gray">
    <h2>empty</h2>
</div>
{% endif %} {% endblock content %}
<!-- FOOTER -->
{% block footer %}
<!--  -->
{% include 'medicine/footer.html'%}
<!--  -->
{% endblock %}
<!-- END FOOTER -->