{% extends 'medicine/base.html' %} {% load static %}
<!-- NAVIGATION -->
{% block navigation %}
<!--  -->
{% include 'header.html'%}
<!--  -->
{% include 'navigation.html'%}
<!--  -->
{% endblock %}
<!-- END NAVIGATION -->
{% block content %}
<div id="error_shopping" class="container">
    {% include 'medicine/message.html' %}
</div>
<!-- CHECK IF THERE IS MEDICINE -->
{% if cartMedicine %}

<div class="d-flex flex-row flex-nowrap justify-content-between mx-1 mt-4 mb-2">
    <h3 class="">Shopping Cart</h3>
    <a href="{{request.META.HTTP_REFERER}}" class="py-2 px-3 bg-blue rounded-3 btn-2-shop">&#x2190;Back</a>
</div>

<div class="row mx-2 mb-4">
    <div class="col">
        <!-- ITEMS -->
        {% for item in items %}
        <div class="d-flex mb-3">

            <div class="d-flex flex-column">
                <img src="{{item.medicine.imageURL}}" alt="" width="220" height="180">
                <div class="d-flex flex-row flex-nowrap">
                    <img src="{% static 'images/icons/x w-3.png'%}" alt="" width="20" height="20" class="btn-cart-real" data-medicine="{{item.medicine.id}}" data-action="removeAll">
                    <p>Remove All</p>
                </div>
                <h5 class="shadow-lg p-1 mb-2 bg-body rounded my-2"> {{item.medicine.getPrice}} @Tsh</h5>
            </div>
            <div class="ms-2">
                <h4 class="fs-2 fw-bold">{{item.medicine.name}}</h4>
                <h5 class="fs-2 fw-light">Total Items: <span data-item="{{item.quantity}}" id="total-item">{{item.quantity}}</span> </h5>
                <h5 class="fs-2 fw-light">Total Price, <span id="total-price" data-price="{{item.medicine.getPrice}}">{{item.get_total|floatformat:2}} TZ</span></h5>
                <div class="d-flex flex-row">
                    <h4 class="me-2 mt-2"> Quantity:</h4>
                    <button class="btn-shopping px-2 m-2" id="add" data-action="add">+</button>
                    <input type="text" class="input-shopping border-2 border-dark w-25" id="medicine_number" oninput="medicine_qty()" onemptied="">
                    <button class="btn-shopping px-2 m-2" id="remove" data-action="remove">-</button>
                </div>
                <div class="">
                    <div class="d-flex flex-row justify-content-between">
                        <button class="d-flex flex-row flex-nowrap py-2 px-3 bg-blue rounded-3 btn-2-shop" id="addCart" data-medicine="{{item.medicine.id}}" data-action="addCart">
                         <img src="{% static 'images/cart.png'%}" alt="" width="25" height="25" class="">
                         <span>Add To Cart</span>
                         </button>


                        <button class="d-flex flex-row flex-nowrap py-2 px-3 bg-blue rounded-3 btn-2-shop" data-medicine="{{item.medicine.id}}" data-action="removeCart">
                     <img src="{% static 'images/cart.png'%}" alt="" width="25" height="25" class="">
                     <span>Remove From Cart</span>
                    
                 </button>
                    </div>

                </div>


            </div>
        </div>
        {% endfor %}
        <!--  -->
        <input type="submit" value="Save " class="py-2 px-3 bg-blue rounded-3 btn-2-shop">
    </div>

    <div class="col">
        <div class="shadow-lg p-5 mb-5 bg-body rounded ">
            <h3 class="fw-bold fs-1">Order Summary</h3>

            <div class="">
                <div class="d-flex flex-row flex-nowrap justify-content-around mb-3 p-2">
                    <h4>Item:</h4>
                    <h4>{{order.get_cart_items}}</h4>

                </div>
                <div class="d-flex flex-row flex-nowrap justify-content-around mb-3 p-2">
                    <h4>Sub Total:</h4>
                    <h4>{{order.get_cart_total|floatformat:2}} TZ</h4>

                </div>
                <div class="d-flex flex-row flex-nowrap justify-content-around mb-3 p-2">
                    <h4>Shipping Cost:</h4>
                    <h4>5 TZ</h4>

                </div>
                <hr>
                <div class="d-flex flex-row flex-nowrap justify-content-around mb-3 p-2">
                    <h3>Total Cost:</h3>
                    <h3>{{order.get_cart_total|floatformat:2}} TZ</h3>

                </div>
                <hr>

            </div>

            <div class="d-flex flex-row flex-nowrap justify-content-around mb-4">
                <a class="py-2 px-3 bg-blue rounded-3 btn-2-shop" href="{% url 'MedicineTrack:store' %}">Continue Shopping</a>
                <a class="py-2 px-3 bg-blue rounded-3 btn-2-shop" href="{% url 'MedicineTrack:checkout' %}">Checkout</a>

            </div>
            <div class="shadow-lg p-5 mb-5 bg-body rounded">
                <h3 class="fw-bold fs-1">Payment Options</h3>
            </div>
        </div>

    </div>

</div>



{% else %}
<div class="container bg-gray">
    <h2>empty</h2>
</div>
{% endif %} {% endblock content %}
<!-- FOOTER -->
{% block footer %}
<!--  -->
{% include 'footer.html'%}
<!--  -->
{% endblock %}
<!-- END FOOTER -->