{% load static %}
<footer class="text-clr-white bg-clr-teal">
    <div class="container-wrapper bg-clr-blue">
        <div class="flex">
            <div class="container-wrapper">
                <h2>Quick links</h2>
                <div class="container-wrapper">
                    <ul class="container-wrapper">
                        <li>
                            <a href="https://www.moh.go.tz/" target="_blank"><img src="{% static 'images/wizara ya afya.jpg' %}" alt="" height="30" width="30"> Wizara ya Afya</a>
                        </li>
                        <li>
                            <a href="https://www.msd.go.tz/" target="_blank"><img src="{% static 'images/msd-logo.png' %}" alt="" height="30" width="30"> Msd</a>
                        </li>
                        <li>
                            <a href="https://www.salamapharma.co.tz/" target="_blank"> <img src="{% static 'images/salama-logo.png' %}" alt="" height="30" width="30">Salama Store</a>
                        </li>
                        <li>
                            <a href="https://www.lsretail.com/industries/pharmacy-management-software" target="_blank"><img src="{% static 'images/Ls logo.png' %}" alt="" height="30" width="30"> LS Retail</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-wrapper">
                <h2>Popular Categories</h2>
            </div>
            <div class="container-wrapper">
                <h2>Contact Us</h2>
                <div class="container-wrapper">
                    <ul class="container-wrapper">
                        <li>The Chief Executive office</li>
                        <li>Tele-pharmacy</li><br>
                        <li>P.O.BOX 20043</li>
                        <li>Dodoma Tanzania</li>
                        <li><i class="fa fa-phone">+255 6793 400 300</i></li>
                    </ul>
                </div>
            </div>
            <div class="container-wrapper">
                <h2>Connect With Us</h2>
                <div class="container-wrapper">
                    <ul class="container-wrapper">
                        <li>
                            <a href="https://www.twitter.com" target="_blank"><img src="{% static 'images/twitter.png' %}" alt="" height="30" width="30">Twitter</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com" target="_blank"><img src="{% static 'images/facebook.png' %}" alt="" height="30" width="30"> Facebook</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com" target="_blank"> <img src="{% static 'images/youtube.png' %}" alt="" height="30" width="30">YouTube</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com" target="_blank"><img src="{% static 'images/instagram.png' %}" alt="" height="30" width="30"> Instagram</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="container-wrapper">
            <h3 class="text-align-center">TELE-PHARMACY&copy; 2022 Alright Reserved</h3>
        </div>
    </div>

</footer>