{% extends 'medicine/base.html' %} {% load static %}
<!-- NAVIGATION -->
{% block navigation %}
<!--  -->
{% include 'header.html'%}
<!--  -->
{% include 'navigation.html'%}
<!--  -->

{% endblock %}
<!-- END NAVIGATION -->
{% block content %}
<!-- PORTFOLIO & CATEGORIES -->
<div id="error_shopping" class="container">
    {% include 'medicine/message.html' %}
</div>
{% include 'categories.html' %}


<div class="mx-2 mt-5">
    {% include 'medicine/portfolio_img.html' %}
</div>


<!--END  PORTFOLIO & CATEGORIES -->
<div class="d-flex flex-row mt-5">


    <!-- ITEMS -->
    <div class="container">
        <div class="row gx-3">
            {% for product in best_sell %}
            <!--  -->
            {% include 'medicine.html'%}
            <!--  -->
            {% endfor %}

        </div>
    </div>




</div>

<!--  -->

{% endblock content %}
<!-- FOOTER -->
{% block footer %}
<!--  -->
{% include 'footer.html'%}
<!--  -->
{% endblock %}
<!-- END FOOTER -->