{% extends 'medicine/base.html' %}{% load static %}{% block title %} home page {% endblock %}
<!--  -->
{% block navigation %}
<!--  -->
{% include 'medicine/navigation.html'%}
<!--  -->
{% endblock %}
<!--  -->
{% block content %}
<!--MEDICINE-->
{% include 'medicine/message.html'%}
<div class="container content-container ">

    {% for medicine in medicine %}
    <div class="card m-2" style="width: 20rem; border:4px groove var(--color-blue-gradient);">
        <img src="{{medicine.imageURL}}" class="card-img-top" alt="..." width="20rem" height="250px">
        <div class="card-body">
            <h3>{{SALE_ITEMS}}</h3>
            <h5 class="card-title">{{medicine.name}}</h5>
            <button data-medicine="{{medicine.id}}" data-action="add" class="btn navbar-link add-btn update-cart">Add to Cart</button>
            <a class="btn navbar-link" style="display: inline-block; float: center" href="{% url 'MedicineTrack:medicine-info' medicine.name %}">View</a>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

            <h4 style="display: inline-block; float: right"><strong>${{medicine_price.price|floatformat:2}}</strong></h4>



        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

<!-- FOOTER -->
{% block footer %}
<!--  -->
{% include 'medicine/footer.html'%}
<!--  -->
{% endblock %}
<!-- END FOOTER -->