<!--Navbar-->
{% load static %}

<nav class="text-clr-white bg-clr-teal">
    <div class="container-wrapper">
        <!-- FIRST PARAGRAPH -->

        <!-- SEARCH PARAGRAPH -->
        <!-- <div class="wrapper-search flex">
            <div class="right-wrapper">
                <h2 class="text-clr-white">TELE-PHARMA</h2>
                <h5 class="text-clr-white"><img src="/static/images/icons/tanzania flag.jpg" alt="" width="20" height="15">Tanzania Trusted Online Pharmacy</h5>
            </div>
            <div class="left-wrapper flex">

                <div class="search-content">
                    <form action="{% url 'MedicineTrack:search' %}" method="GET">
                        <input type="text" placeholder="search" name="q">
                        <button class="right" type="submit"><img src="/static/images/icons/search.png" alt="" width="20" height="20"></button>
                        <button class="left btn-submit " style="background-color:var(--color-gray)">
                            <a href="{% url 'MedicineTrack:browse-medicine'%}" class="btn-submit">Scan A-Z</a>
                            </button>
                    </form>
                </div>

            </div>
            <div class="right-wrapper nav-mobile">
                <ul class="flex">
                    {% if user.is_authenticated %}
                    <div class="user-profile py-2">
                        <p>
                            <span><img src="{% static 'images/profile.png'%}" alt="" width="20" height="25"></span>
                            <span>@{{user.username}}</span>
                            <img onclick="toggle_profile() " id="profile_btn" src="{% static 'images/icons/down arrow-w.png'%}" alt="" width="20px" height="20px">
                        </p>
                    </div>
                    <div class="dropdown flex-column position-fixed bg-white" id="drop-down" style="display: none; top:50px; width:40rem;">
                        <li class="navbar-item">
                            <a class="cat-link " href=" {% url 'MedicineTrack:profile'%} ">
                                <img src="{% static 'images/profile.png'%}" alt="" width="20" height="25"> profile
                            </a>
                        </li>
                        <li class="navbar-item">
                            <a class="cat-link" href=" {% url 'MedicineTrack:logout' %} ">
                                <img src="{% static 'images/logout.png'%}" alt="" width="20" height="25"> Logout
                            </a>
                        </li>
                    </div>
                    {% else %}
                    <!--LOGIN-->
        <!-- {%url 'MedicineTrack:login' as urls %} {% if request.path != urls %}
                    <li>
                        <a href="{% url 'MedicineTrack:login' %}" class="nav-link">
                            <img src="{% static 'images/login.png'%}" alt="" width="20" height="25">Sign In
                        </a>
                    </li>
                    <li class="nav-border"></li>
                    {% endif %}
                    <!--REGISTER-->
        <!-- {%url 'MedicineTrack:register' as urls %} {% if request.path != urls %}
                    <li>
                        <a href="{% url 'MedicineTrack:register' %}" class="nav-link">
                            <img src="{% static 'images/register.png'%}" alt="" width="20" height="25">Register
                        </a>
                    </li>
                    {% endif %} {% endif %}

                </ul>
            </div>

        </div> -->

    </div>

</nav>


<script>
    var btn_profile = document.getElementById("profile_btn");
    var drop_down = document.getElementById("drop-down");
    var toggle = true;

    function toggle_profile() {
        if (toggle) {
            btn_profile.src = "{% static 'images/icons/up arrow-w.png' %}";
            drop_down.style.display = "block";
            drop_down.style.zIndex = '1';

            toggle = !toggle;

        } else {
            btn_profile.src = "{% static 'images/icons/down arrow-w.png'%}";
            drop_down.style.display = "none";
            toggle = !toggle;
        }

    }
</script>