{% extends 'base.html' %}{% load static %}{% block title %} home page {% endblock %} {% block content %}

<!--Table-->
<div class="container">
    <div class="row my-4">

        <div class="col-md-8 mx-auto">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">

                        <th scope="col">Name</th>
                        <th scope="col">Order date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {%for order in showOrder%}
                    <tr>
                        <td>{{order.retail}}</td>
                        <td>{{order.order_date}}</td>
                        <td>{{order.get_status}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->


{% endblock %}