{% extends 'medicine/base.html' %}{% load static %}{% block title %} order page {% endblock %}
<!-- NAVIGATION -->
{% block navigation %}
<!--  -->
{% include 'header.html'%}
<!--  -->
{% include 'navigation.html'%}
<!--  -->
{% endblock %}
<!-- END NAVIGATION -->
{% block content %}

<!--Table-->
<div class="">
    <div class="">
        <div class="">
            <h3>@{{request.user}} Enjoy Our Service Automate Your Pharmacy Grow With Technology</h3>
            <div>
                “To be honest, the best thing about choosing Postmates, over other delivery services, is its customer service. Postmates’ customer service is superior in all aspects, starting with the way they treat people’s packages. I would choose it any day.” The
                word “superior” suggests elevation or being better than everything else. Unlike other words to describe top service, this one evokes feelings of high quality and high standards.
            </div>
        </div>
        <div class="row ">
            {% if order %}
            <div class="col-md-8 mx-auto">
                <table class="table bg-white">
                    <thead>
                        <tr class="text-white">

                            <th scope="col">Name</th>
                            <th scope="col">Order date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Price</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {%for order in order%}
                        <!--  -->

                        <tr>
                            <td>{{order.retail}}</td>
                            <td>{{order.order_date}}</td>
                            <td>{{order.get_status}}</td>
                            <td>{{order.getPrice}}Tsh 4566</td>
                            {% if order.complete %}
                            <td class="text-center">
                                <a class="btn-submit" href="{% url 'MedicineTrack:payment' order.id %}">pay</a>
                                <a class="btn navbar-link" href="{% url 'MedicineTrack:edit-order' order.id %}">edit</a>
                            </td>
                            {% else %}
                            <td class="text-center">
                                <a class="btn-submit" href="{% url 'MedicineTrack:store' %}">shop </a>
                                <a class="btn-submit" href="{% url 'MedicineTrack:delete-order' order.id %}">remove </a>
                            </td>
                            {% endif %}
                        </tr>

                        <!--  -->
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class=" ">
                <h4>what is up</h4>
            </div>
            {% endif %}
        </div>

    </div>
</div>




<!--End Table-->


{% endblock %}

<!-- FOOTER -->
{% block footer %}
<!--  -->
{% include 'footer.html'%}
<!--  -->
{% endblock %}
<!-- END FOOTER -->