{% extends 'medicine/base.html' %}{% load static %}{% block title %} statistics page {% endblock %}
<!-- NAVIGATION -->
{% block navigation %}
<!--  -->
{% include 'header.html'%}
<!--  -->
{% include 'navigation.html'%}
<!--  -->
{% endblock %}
<!-- END NAVIGATION -->
{% block content %}
<!--Chartjs CDN-->

<script src="{% static 'node_modules/chart.js/dist/chart.min.js' %}"></script>
<!--Graphs-->
<div class="container ">
    <div class="row my-5 bg-gray-1">
        <div class="col-md-6 bg-gray-1">
            <div class=" bg-white">
                <canvas id="myChart1" width="400" height="300"></canvas>
                <script>
                    getData();

                    async function getData() {
                        const response = await fetch(
                            '/get-medicine/');
                        console.log(response);
                        const data = await response.json();
                        console.log(data);
                        length = data.length;
                        console.log(length);

                        labels = [];
                        values = [];
                        for (i = 0; i < length; i++) {
                            labels.push(data[i].medicine);
                            values.push(data[i].quantity);
                        }



                        var ctx = document.getElementById('myChart1').getContext('2d');

                        var myChart1 = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Products',
                                    data: values,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    }
                </script>
            </div>
        </div>
        <div class="col-md-6 bg-gray-1">
            <div class="bg-white">
                <canvas id="myChart" width="400" height="300"></canvas>
                <script>
                    getData();

                    async function getData() {
                        const response = await fetch(
                            '/get-medicine/');
                        console.log(response);
                        const data = await response.json();
                        console.log(data);
                        length = data.length;
                        console.log(length);

                        labels = [];
                        values = [];
                        for (i = 0; i < length; i++) {
                            labels.push(data[i].medicine);
                            values.push(data[i].quantity);
                        }


                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Products',
                                    data: values,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    }
                </script>


            </div>
        </div>
    </div>
</div>
<!--End Graphs-->


{% endblock %}

<!-- FOOTER -->
{% block footer %}
<!--  -->
{% include 'footer.html'%}
<!--  -->
{% endblock %}
<!-- END FOOTER -->