<!--Navbar-->
{% load static %}
<header class="header grid">
    <div class="item title">

        <h3> <span><img src="{% static 'images/medicine3.png'%}" alt="" width="25" height="30"></span>TELE-PHARMACY</h3>
    </div>
    <div class="item date">
        <h3>{% now "l, j F Y" %}</h3>

    </div>
    <div class="item navbar row" style=" border: 2px solid var(--color-gray);">
        <ul class="navbar-wrapper flex_1 ">
            <li class="navbar-item ">
                <a class="navbar-link" href="{% url 'MedicineTrack:store' %} ">
                    <img src="{% static 'images/medicine1.png'%}" alt="" width="20" height="25"> Home </a>

            </li>
            <li class="navbar-item ">
                <a class="navbar-link" href="{% url 'MedicineTrack:about' %} ">
                    <img src="{% static 'images/portfolio.png'%}" alt="" width="20" height="25"> Portfolio </a>

            </li>
            <li class="navbar-item ">
                <a class="navbar-link" href="{% url 'MedicineTrack:contact' %} ">
                    <img src="{% static 'images/conct1.webp'%}" alt="" width="20" height="25"> Contact us </a>

            </li>
            <li class="navbar-item ">
                <a class="navbar-link" href="{% url 'MedicineTrack:order' %} ">
                    <img src="{% static 'images/order.png'%}" alt="" width="20" height="25"> order </a>

            </li>
            {% if user.is_authenticated %}
            <li class="navbar-item ">
                <a class="navbar-link" href="{% url 'MedicineTrack:statistics' %} ">
                    <img src="{% static 'images/stats.png'%}" alt="" width="20" height="25"> statistics </a>
            </li>
            {% endif %}
        </ul>

    </div>
    <div class="item cart">

        <div class="flex_1" style="background-color: var(--color-blue-gradient);">

            <a href="{% url 'MedicineTrack:cart' %}" style="padding: 10px 2px;">
                <img id="cart-icon" src="{% static 'images/cart.png' %}">
            </a>
            <p id="cart-total">{{cartMedicine}}</p>

        </div>


        <div class="item profile">
            <ul class="navbar-wrapper flex_1">
                <!-- USER AUTHENTICATION -->
                {% if user.is_authenticated %}
                <div class="user-profile py-2">
                    <p>
                        <span><img src="{% static 'images/profile.png'%}" alt="" width="20" height="25"></span>
                        <span>@{{user.username}}</span>
                        <img onclick="toggle_profile() " id="profile_btn" src="{% static 'images/32195.png'%}" alt="" width="20px" height="20px">
                    </p>
                </div>
                <div class="dropdown flex-column position-fixed " id="drop-down" style="display: none; top:100px;">
                    <li class="navbar-item">
                        <a class="navbar-link " href=" {% url 'MedicineTrack:profile'%} ">
                            <img src="{% static 'images/profile.png'%}" alt="" width="20" height="25"> profile
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link " href=" {% url 'MedicineTrack:logout' %} ">
                            <img src="{% static 'images/logout.png'%}" alt="" width="20" height="25"> Logout
                        </a>
                    </li>
                </div>

                {% else %}
                <!--LOGIN-->
                {%url 'MedicineTrack:login' as urls %} {% if request.path != urls %}
                <li class="navbar-item">
                    <a class="navbar-link  " href=" {% url 'MedicineTrack:login' %} ">
                        <img src="{% static 'images/login.png'%}" alt="" width="20" height="25"> Login
                    </a>
                </li>
                {% endif %}
                <!--REGISTER-->
                {%url 'MedicineTrack:register' as urls %} {% if request.path != urls %}
                <li class="navbar-item ">
                    <a class="navbar-link  " href=" {% url 'MedicineTrack:register' %} ">
                        <img src="{% static 'images/register.png'%}" alt="" width="20" height="25"> Register
                    </a>
                </li>
                {% endif %} {% endif %}

            </ul>
        </div>

        <form action="{% url 'MedicineTrack:store' %}" method="GET" class="search-fm">
            <input type="text" placeholder="search" name="q">
            <button type="submit"> <img id="cart-icon" src="{% static 'images/search.png' %}"></button>
        </form>


    </div>


</header>
<!--
PROFILE
-->
<!--Table-->


<script>
    var btn_profile = document.getElementById("profile_btn");
    var drop_down = document.getElementById("drop-down");

    var toggle = true;


    function toggle_profile() {


        if (toggle) {
            btn_profile.src = "{% static 'images/271239.png' %}";
            drop_down.style.display = "block";

            toggle = false;

        } else {
            btn_profile.src = "{% static 'images/32195.png'%}";
            drop_down.style.display = "none";
            toggle = true;
        }

    }
</script>