{% extends 'base.html' %}
{% block title %} Retail Page {% endblock %}
{% block content %}
<h2 style="color: blue; text-align:center; font-family: sans-serif; font-style: italic;">List of Retails</h2>
<div class="container">
    <table  class="table table-striped">
    <thead>
        <tr style="font-weight:bold; font-style: italic;">
            <th>UserID</th>
            <th>Phone Number1</th>
            <th>Phone Number2</th>
            <th>Country</th>
            <th>City</th>
            <th>Address</th>
            <th>Email</th>
            <th>Organization Name</th>
            <th>Status</th>
            
        </tr>
    </thead>
    <tbody>
        {% for data in Retail %}
        <tr>
            <td>{{data.user_id}}</td>
            <td>{{data.PhoneNumber_1}}</td>  
            <td>{{data.PhoneNumber_2}}</td>
            <td>{{data.Country}}</td>
            <td>{{data.City}}</td>
            <td>{{data.Address}}</td>
            <td>{{data.RetailEmail}}</td>
            <td>{{data.OrganizationName}}</td>
            <td>{{data.Status}}</td>  
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}

