 {% extends 'base.html' %}{% load static %}{% block title %} home page {% endblock %} {% block content %}

<center>
    <h3>Medicine Order</h3>
</center>

<div class="container">
    <div class="row my-4">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">

                        <th scope="col">Medicine_id</th>
                        <th scope="col">price</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {%for x in shown%}
                    <tr>
                        <td>{{x.medicine_id}}</td>
                        <td>{{x.price}}</td>
                        <td>{{x.status}}</td>

                        <!-- <td>{{x.status}}</td> -->
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

</div>

{%endblock%}